* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
body .bg-img{
    background: url(../../assets/besos.jpg);
    background-size: 160px;
    width:100vw; 
    height: 100vh;
    opacity: 0.4;
    position: absolute;
    z-index: 0;
}

/* HEADER */

.header {
    width: 100%;
    height: 50px;
    background-color: #A6143B;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.header h1 {
    font-family: 'Akaya Kanadaka', cursive;
    font-size: 30px;
    color: cornsilk;
}


/* section solo para pagina principal */
.message h2{
    font-size: 40px;
}
.container{
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
}
.container .color{
    background: #47A638;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px solid #47A638;
}
.container .color .estilos{
    color: cornsilk;
    font-size: 20px;
}
.container .amarillo{
    background-color: #BFA24B;
}

/* SECTION */
.message {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
}
.message .hijo {
    border: 10px solid #BFA24B;
    margin-top: 20px;
}
.message .verde{
    border: 10px solid #47A638;
}
.message .button{
    margin-top: 50px;
    width: 80px;
    height: 40px;
    background-color: #ac4343;
    color: cornsilk;
    border: none;
    border-radius: 5px;
}
.message .rango{
    width: 360px;
}
/* FOOTER */

.footer{
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: black;
    color: #fff;
    font-family: 'Noto Sans SC', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.footer p{
    text-align: center;
}